<footer class="footer">
    <div class="footer-wrap row">
        <div class="column small-12">
            <div class="footer-logo"></div>
        </div>

        <div class="column small-12">
            <p class="">All Rights Reserved by Push Creative Brand, LLC</p>
        </div>

        <div class="column small-12">
            <ul>
                <li><a href="">Privacy Policy</a></li>
                <li><a href="">Terms</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </div>
    </div>

</footer>
