<nav class="header">
  <div class="logo"></div>
</nav>

<div class="large reveal quote-request" id="projectPicker" data-reveal>
  <div class="row">
    <h1 class="column small-12">Need a quote for a project?</h1>
    <p class="column small-12">Choose a project type below</p>

    <ul class="project-picker">
      <li class="website"><a href="#website"><i></i>Website</a></li>
      <li class="application"><a href="#application"><i></i>Application</a></li>
      <li class="branding"><a href="#branding"><i></i>Branding</a></li>
      <li class="other"><a href="#other"><i></i>Other</a></li>
    </ul>
  </div>
</div>
