{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Push Creative Brand</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
  </head>
  <body>
    {{> header}}

    {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
    {{> body}}

    {{> footer}}
    <script src="{{root}}assets/js/app.js"></script>

    <script>

    //setup colour change
    $('.text-fader .text-content .colour').each(function(){
      var textSplit = $(this).text().split('');
      var returnHTML = '';
      $.each(textSplit, function (intIndex, objValue) {
        returnHTML+='<span class="letter">'+objValue+'</span>';
      });
      $(this).html(returnHTML);
    });

    $(".text-fader .text-content:first-child").addClass("in");
    var textFaderDelay = 4000;
    var textFaderAnimationSpeed = 500;
    var colourChangeDelay = 2000;
    function nextText($current) {
      if ($current.next(".text-fader .text-content").length > 0) {
        var hasNext = true;
      } else {
        var hasNext = false;
      }

      setTimeout(function(){
        $current.find('.colour').addClass('go');
      },colourChangeDelay);

      setTimeout(function() {
        $current.removeClass("in").addClass("out");
        setTimeout(function() {
          $current.find('.colour').removeClass('go');
          $current.removeClass("out");
          if (hasNext) {
            $current.next(".text-fader .text-content").addClass("in");
          } else {
            $(".text-fader .text-content:first-child").addClass("in");
          }
          nextText($(".text-fader .text-content.in"));
        }, textFaderAnimationSpeed);
      }, textFaderDelay);
    }
    nextText($(".text-fader .text-content.in"));

    </script>
  </body>
</html>
